/data/*_tokens_test_*.pt
/data/*_tokens_train_*.pt
/data/*-test.txt.gz
/data/*-train.txt.gz
/data/dolma-cccc-filtered-[0-9][0-9][0-9][0-9].json.gz
/.venv/
/.backup/
/model/
/model_pod*/
/.cache_transformers/
/__pycache__/
/.podssh
.*.swp
.swp
