/data/simplerwiki_tokens_test_*.pt
/data/simplerwiki_tokens_train_*.pt
/data/simplestwiki_tokens_test_*.pt
/data/simplestwiki_tokens_train_*.pt
/.venv/
/.backup/
/model/
/model_pod*/
/.cache_transformers/
/__pycache__/
/.podssh
*.swp
.*.swp
