/data/simplestwiki_vocab_500.json
/data/simplestwiki_tokens_test_500.pt
/data/simplestwiki_tokens_train_500.pt
/data/cccclc-[0-9][0-9][0-9][0-9]-*.txt.gz
/data/cccclc-[0-9][0-9][0-9][0-9]_tokens_*.pt
/data/dolma-cccc-filtered-[0-9][0-9][0-9][0-9].json.gz
/.venv/
/.backup/
/model/
/model_pod*/
/.cache_transformers/
/__pycache__/
/.podssh
.*.swp
