
NET "sw1" LOC = "12" | IOSTANDARD = LVCMOS33;
NET "sw2" LOC = "13" | IOSTANDARD = LVCMOS33;
NET "sw3" LOC = "14" | IOSTANDARD = LVCMOS33;
NET "sw4" LOC = "16" | IOSTANDARD = LVCMOS33;

NET "led1" LOC = "19" | IOSTANDARD = LVCMOS33;
NET "led2" LOC = "20" | IOSTANDARD = LVCMOS33;
NET "led3" LOC = "21" | IOSTANDARD = LVCMOS33;
NET "led4" LOC = "22" | IOSTANDARD = LVCMOS33;

NET "gck1" LOC = "43" | IOSTANDARD = LVCMOS33;
NET "gck2" LOC = "44" | IOSTANDARD = LVCMOS33;
NET "gck3" LOC =  "1" | IOSTANDARD = LVCMOS33;
NET "gts1" LOC = "36" | IOSTANDARD = LVCMOS33;
NET "gts2" LOC = "34" | IOSTANDARD = LVCMOS33;
NET "gsr"  LOC = "33" | IOSTANDARD = LVCMOS33;

NET "p1_1"  LOC = "40" | IOSTANDARD = LVCMOS33;
NET "p1_2"  LOC = "41" | IOSTANDARD = LVCMOS33;
NET "p1_4"  LOC = "42" | IOSTANDARD = LVCMOS33;
NET "p1_6"  LOC =  "2" | IOSTANDARD = LVCMOS33;
NET "p1_8"  LOC =  "3" | IOSTANDARD = LVCMOS33;
NET "p1_9"  LOC =  "5" | IOSTANDARD = LVCMOS33;
NET "p1_10" LOC =  "6" | IOSTANDARD = LVCMOS33;
NET "p1_11" LOC =  "7" | IOSTANDARD = LVCMOS33;

NET "p2_1"  LOC = "39" | IOSTANDARD = LVCMOS33;
NET "p2_2"  LOC = "38" | IOSTANDARD = LVCMOS33;
NET "p2_4"  LOC = "37" | IOSTANDARD = LVCMOS33;
NET "p2_7"  LOC = "32" | IOSTANDARD = LVCMOS33;
NET "p2_8"  LOC = "31" | IOSTANDARD = LVCMOS33;
NET "p2_9"  LOC = "30" | IOSTANDARD = LVCMOS33;
NET "p2_10" LOC = "29" | IOSTANDARD = LVCMOS33;
NET "p2_11" LOC = "28" | IOSTANDARD = LVCMOS33;

